.nav{
    background-color: rgba(0, 0, 0, 0.618);
    /* border-bottom: 1px solid orangered; */

}


.logo{
    width: 58px;
    height: 58px;
    
}

.nav__link{
    font-size: 21px;
    margin-bottom: 4px;
    color: white;
    text-decoration: none;
    transition:.3s linear;
    
}


.nav__link:hover{
    border-bottom: 1px solid orangered;
    color: orangered;
}

